# Byte-compiled / optimized / DLL files
__pycache__/


# Distribution / packaging
.Python
build/
*.egg-info/
.eggs/


# Unit test
.pytest_cache/
tests/

# IDEs / editors
.vscode/
.idea/

# Local outputs
result

# Codex skills
.codex/
