# Byte-compiled / optimized / DLL files
__pycache__/


# Distribution / packaging
.Python
build/
*.egg-info/
.eggs/


# Unit test
.pytest_cache/
tests/

# IDEs / editors
.vscode/
.idea/

# Local outputs
*.txt

# Codex skills
.codex/

result*

run*

*fasta

*html

G3P_HUMAM_P04406.fasta
